# Segredos
.env

# Java / Maven
target/
*.jar
*.war
.mvn/wrapper/maven-wrapper.properties

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# IDEs
.idea/
.vscode/
.settings/
.project/

# Outros
antes_de_subir.txt